<div class="main-container">
    <button (click)="destroyComponent = !destroyComponent">ngIf</button>
    <app-my-component *ngIf="destroyComponent"></app-my-component>
    <div
        class="container"
        (resized)="onResize($event)"
    >
        <div
            class="grid"
            #gridElement
            (scroll)="gridScroll()"
        >
            <div
                *ngFor="let row of rows; let i = index"
                #rowElement
                class="row"
                (click)="createTooltip(i, rowElement)"
            >
                {{row}}
            </div>
        </div>
    </div>
</div>
